:root {
  --color-primary: #55d6aa;
  --color-primary-light: #00ffc6;
  --color-secondary: #474747;
  --color-white: #fff;
}

*, *::after, *::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/* Utility classes */
  /* margin-top */
  .u-margin-top-small {
    margin-top: 2rem;
  }

  .u-margin-top-medium {
    margin-top: 4rem;
  }

  .u-margin-top-big {
    margin-top: 6rem;
  }

  /* margin-bottom */
  .u-margin-bottom-small {
    margin-bottom: 2rem;
  }

  .u-margin-bottom-medium {
    margin-bottom: 4rem;
  }

  .u-margin-bottom-big {
    margin-bottom: 6rem;
  }

  /* text-align */
  .left-align {
    text-align: left;
  }

  .right-align {
    text-align: right;
  }

  .center-align {
    text-align: center;
  }

  .justify-align {
    text-align: justify;
  }

  .break {
    display: block;
  }

  .banner {
    padding: 3rem;
  }



/* Typography */

.heading {
  font-weight: 300;
  font-size: 1.7rem;
}

.hero-content .title {
  font-size: 3rem;
}

.title span {
  font-weight: 300;
  display: block;
  font-size: 2.8rem;
}



/* Buttons */
.button {
  font-size: 1.5rem; 
  color: var(--color-primary);
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 1rem 1.8rem;
  display: inline-block;
}

.button-accent {
  color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.button-accent:hover,
.button-accent:focus {
  background-color: var(--color-primary-light);
  color: var(--color-secondary);
}



/* website logo */
.logo {
  width: 7rem;
  height: 7rem;
  background: var(--color-primary);
  border-radius: 50%;
  
  position: absolute;
  box-shadow: 0 1.3rem 2rem rgba(27, 27, 27, .2);

  top: 2.5rem;
  left: 2.5rem;
}

  .logo__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23474747FF' stroke-width='4' stroke-dasharray='2%2c 9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

  }

    .logo__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      font-size: 1.3rem;
      font-weight: 600;
    }


/* Banner */
.header {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(26, 27, 27, 0.7),rgba(26, 27, 27, 0.7)),
                    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;

  position: relative;
}

  .header .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 85%;
    text-align: center;
    color: var(--color-white);
  }


/* Media Query -- Header */
@media (max-width: 900px) {
  .logo {
    top: 1.5rem;
    left: 1.5rem;
  }

  .header .hero-content {
    width: 80%;
  }

  .hero-content .title {
    font-size: 2.8rem;
  }

  .title span {
    font-size: 2.5rem;
  }

  .button {
    font-size: 1.3rem; 
    padding: 1rem 1.8rem;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 5.5rem;
    height: 5.5rem;
  }

    .logo__inner {
      width: 4.5rem;
      height: 4.5rem;
    }

      .logo__text {
        font-size: 1rem;
      }

  .header .hero-content {
    width: 70%;
  }

  .hero-content .title {
    font-size: 2.5rem;
  }

  .title span {
    font-size: 2.2rem;
  }

  .button {
    font-size: 1rem; 
    padding: 1rem 1.5rem;
  }
}
  

/* Overview Section */
.home-overview h1 {
  font-size: 3rem;
  color: #373737;
}

.home-overview p {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  color: #999999;
}


/* About Section */

.home-about-banner {
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;

  font-size: 3rem;
}

.home-about-textbox {
  background-color: #272727;
  padding: 3.5rem;
  outline: 2px solid var(--color-primary-light);
  outline-offset: -2rem;

  position: relative;
}

  .home-about-textbox h1 {
    color: var(--color-primary-light);
    text-align: center;
    width: 10rem;

    position: absolute;
    top: 0.7rem;
    left: 50%;
    transform: translate(-50%);
    background: #272727;
  } 

  .home-about-textbox p {
    padding: 0.5rem 0;
    color: var(--color-white);
    text-align: justify;
  }

  /* Media Queries - About */
  @media (min-width: 400px) {
    .heading {
      font-size: 2rem;
    }

    .home-about-textbox h1 {
      width: 13rem;
    }
  }

  @media (min-width: 800px) {
    .heading {
      font-size: 2.5rem;
    }

    .home-about-textbox h1 {
      width: 16rem;
      top: 0.4rem;
    }
  }

  @media(min-width: 960px) {

    
    .heading {
      font-size: 1.6rem;
    }

    .home-about-textbox h1 {
      width: 10rem;
      top: 2.1rem;
    }
    
    .home-about-banner {
      width: 95%;
      max-width: 960px;
      padding: 2rem 0;
      margin: 0 auto;

      font-size: 3rem;
    }

    .home-about-container {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      padding-bottom: 10rem;

      width: 95%;
      max-width: 960px;
      margin: 0 auto;
    }
    
    .home-about-textbox {
      width: 45%;
      padding: 4.8rem;
      outline-offset: -3.2rem;
      box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .3);
    }

    .container-1 {
      background-image: url(../img/about-cover.jpg);
    }

    .pos-1 {
      top: -5.4rem;
      left: -1.3rem;
    }

    .container-2 {
      background-image: url(../img/about-cover-2.jpg);
    }

    .pos-2 {
      top: -5.4rem;
      right: -34.3rem;
    }
  }

  @media (min-width: 1200px) {
    .pos-1 {
      top: -5.4rem;
      left: -5.4rem;
    }

    .pos-2 {
      top: -5.4rem;
      right: -38.5rem;
    }

    .pos-3 {
      top: -5.4rem;
      left: -5.4rem;
    }
  }


/* Navigation */
